@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

body, button, a, input, textarea, select {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #FBFBFB;
    overflow: hidden;
}

#bg-small-leaf, 
#bg-big-leaf {
    z-index: -1;
    position: absolute;
}

#bg-small-leaf {
    top: 3em;
    left: -10em;
}

#bg-big-leaf {
    top: 20em;
    right: -20em;
}

/* Header */
#app-header {
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
    justify-content: space-between;
    align-items: center;
    /* padding: .8em 1.5em; */
    background-color: #313B41;
    color: #fff;
    font-size: .9em;
    z-index: 1;
}

#app-header span,
#app-header-nav,
#app-header-nav_inner-links {
    border-bottom: 3px solid #313B41;
}

#app-header span {
    padding: .8em 0 .8em 1.5em;
}

#app-header-nav ul,
#app-header-nav_inner-links ul {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#app-header-nav {
    padding: .8em 1.5em .8em 0;
}

#app-header-nav ul li {
    padding: 0 .5em;
}

#app-header-nav_inner-links ul li {
    padding: 0 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

#app-header-nav ul li a,
#app-header-nav_inner-links ul li a {
    color: #fff;
}

#app-header-nav_inner-links {
    display: flex;
    align-items: center;
    height: 41px;
}

.active-link {
    border-bottom: 3px solid #fff;
}

/* Forms */
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25em;
    border-radius: 25px;
    background: #FBFBFB;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    padding-bottom: 2em;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    background: #313B41;
    border-radius: 24px 24px 0px 0px;
    color: #fff;
}

.form-field {
    display: flex;
    flex-direction: column;
    padding: .5em 2em;
}

.form-field input {
    padding: 10px 1em;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(49, 59, 65, 0.5);
}

.form-field label {
    padding-left: 1em;
    font-size: .9em;
}

.form-container button {
    display: block;
    width: 85%;
    margin: 2em auto;
    padding: .8em 1em;
    outline: none;
    border: none;
    background-color: #2B876F;
    border-radius: 50px;
    color: #fff;
    font-size: 1em;
    transition: all .2s ease;
    cursor: pointer;
}

.form-container button:hover {
    background-color: rgb(36, 107, 88);
}

.form-container span {
    padding: 0 2.5em;
    font-size: .8em;
}

.form-container a {
    color: #2B876F;
    text-decoration: underline;
}

/* Dashboard */

#app-dashboard {
    display: flex;
    flex-direction: row;
}

#app-dashboard-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* height: calc(100vh - 41px); */
    /* padding: 30px; */
    flex: 1;
}

/* -- Dashboard: Sidebars -- */

#app-links-sidebar {
    height: calc(100vh - 41px);
    background-color: rgb(42, 51, 56);
    z-index: 2;
}

#app-links-sidebar nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#app-links-sidebar nav ul,
#app-links-sidebar nav span {
    padding: 1em 1.5em;
}

#app-links-sidebar nav span {
    padding-bottom: 2em;
    color: #fff;
}

#app-links-sidebar nav ul {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}

#app-links-sidebar nav ul li {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    padding: 1em 0;
    color: #fff;
}

#app-links-sidebar nav ul li a,
#app-links-sidebar nav span a {
    margin-left: 10px;
    font-size: .9em;
    color: #fff;
    cursor: pointer;
}

#app-links-sidebar nav ul li:nth-child(2) a {
    margin-left: 15px;
}

/* #app-links-sidebar nav ul li a:hover,
#app-links-sidebar nav span a:hover,
.active-sidebar-link {
    font-weight: bold;
} */

#app-notes-sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 41px);
    max-width: 205px;
    background-color: rgb(29, 36, 39);
    box-shadow: 4px 0px 50px rgba(0, 0, 0, 0.25);
}

.sidebar-add-new-text,
.sidebar-notes-header {
    padding: 15px 30px;
    font-size: .8em;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all .2s ease;
}

.sidebar-add-new-text:nth-child(1) {
    border-bottom: 1px solid rgba(43, 135, 110, 0.5);
}

.sidebar-add-new-text:hover {
    color: #fff;
}

.sidebar-notes-header {
    background-color: #2B876F;
    color: #fff;
    font-size: 1.05em;
    cursor: default;
}

.category {
    display: flex;
    flex-direction: column;
}

.category-name {
    font-size: .9em;
    padding: 10px 30px;
    background: #2B876F;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    color: #fff;
    cursor: default;
}

.category-name span {
    cursor: text;
    outline: none;
}

.note-prev {
    font-size: .8em;
    padding: 15px 30px;
    cursor: pointer;
    transition: all .2s ease;
    color: #fff;
}

.note-prev span {
    font-size: .7em;
}

.note-prev:hover {
    background-color: rgb(23, 28, 31);
}

#new-category-form {
    position: absolute;
    top: 3em;
    left: 50%;
    margin: 10px auto;
    background-color: #FBFBFB;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    padding: 20px 20px 10px;
    height: 100px;
}

#new-category-input {
    outline: none;
    padding: 5px 10px;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#new-category-btn {
    width: 100%;
    padding: 3px;
    border: none;
    background: #2B876F;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease;
}

#new-category-btn:hover {
    background-color: rgb(36, 107, 88);
}

#hide-category-form span {
    float: left;
    font-size: .85em;
    font-weight: bold;
}

#hide-category-form i {
    float: right;
    color: rgb(138, 33, 33);
    cursor: pointer;
}

.hidden-category-form {
    display: none;
}

/* -- Dashboard: Note Form -- */

#app-dashboard-container-create-note,
#app-dashboard-container-edit-note {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    height: 100%;
    background-color: #FBFBFB;
    box-shadow: 4px 0px 30px rgba(0, 0, 0, 0.25);
    /* border-radius: 25px; */
    z-index: 1;
}

.hidden-note-form {
    display: none;
}

#app-dashboard-container-create-note_header,
#app-dashboard-container-edit-note_header {
    padding: .5em 2em .5em 2em;
}

#app-dashboard-container-create-note_header_top,
#app-dashboard-container-edit-note_header_top {
    padding: .5em 2em .5em 2em;
    border-bottom: 1px solid rgba(49, 59, 65, 0.171);
}

#app-dashboard-container-create-note_header input,
#app-dashboard-container-edit-note_header input {
    padding: .5em;
    border: none;
    border-bottom: 1px solid #313B41;
    width: 20em;
    outline: none;
    font-size: 1.3em;
    background-color: transparent;
}

#app-dashboard-container-create-note_buttons,
#app-dashboard-container-edit-note_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#app-dashboard-container-create-note_buttons .app-dashboard-btns,
#app-dashboard-container-edit-note_buttons .app-dashboard-btns,
#add-note-btn {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: .8em;
    cursor: pointer;
    color: #000;
}

#app-dashboard-container-create-note_buttons #save-note-btn,
#app-dashboard-container-edit-note_buttons #save-note-btn {
    background-color: #2B876F;
    color: #FBFBFB;
    border: 1px solid #2B876F;
    margin-right: 10px;
}

#app-dashboard-container-create-note_buttons #share-note-btn,
#app-dashboard-container-edit-note_buttons #share-note-btn {
    background-color: #313B41;
    color: #FBFBFB;
    border: 1px solid #313B41;
    margin-right: 10px;
}

#app-dashboard-container-create-note_buttons #cancel-note-btn,
#app-dashboard-container-edit-note_buttons #cancel-note-btn {
    border: 1px solid rgba(49, 59, 65, 0.5);
}

#app-dashboard-container-create-note_header_options,
#app-dashboard-container-edit-note_header_options {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em 0;
}

#app-dashboard-container-create-note_header_date,
#app-dashboard-container-edit-note_header_date {
    display: flex;
    flex-direction: column;
    font-size: .8em;
    margin-right: 1em;
    padding-right: 1em;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#app-dashboard-container-create-note_header_category,
#app-dashboard-container-edit-note_header_category {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: .8em;
}

#select-category {
    margin-right: 1em;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: .9em;
    outline: none;
}

#add-note-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    color: #FBFBFB;
    background-color: rgba(49, 59, 65, 1);
}

#app-dashboard-container-create-note_textarea,
#app-dashboard-container-edit-note_textarea {
    padding: 0 2em 2em 2em;
    height: 80%;
    align-self: stretch;
    overflow-y: scroll;
}

#app-dashboard-container-create-note_textarea::-webkit-scrollbar,
#app-dashboard-container-edit-note_textarea::-webkit-scrollbar {
    display: none;
}

#app-dashboard-container-create-note_textarea textarea,
#app-dashboard-container-edit-note_textarea textarea {
    width: 100%;
    height: 100%;
    outline: none;
    resize: none;
    border: none;
    background-color: transparent;
}

/* Share note dialog */

#app-share-note-dialog-container {
    z-index: 10;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
}

#app-share-note-dialog {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2em;
    background-color: #FBFBFB;
    border-radius: 25px;
}

#app-share-note-dialog form {
    display: flex;
    flex-direction: column;
}

#app-share-note-dialog-icon {
    margin-bottom: .5em;
}

#app-share-note-dialog-icon i {
    cursor: pointer;
    float: right;
}

