<% include ../components/header %>

<div id="app-dashboard">
    <% include ../components/linksSidebar %>
    <% include ../components/notesSidebar %>

    <% include ../components/dialogs/shareNote %>
</div>

<% include ../components/footer %>