<% include ../components/header %>

<div id="app-dashboard">
    <% include ../components/linksSidebar %>
    <% include ../components/notesSidebar %>

    <div id="app-dashboard-initial-text">
        <span>Select a note...</span>
        <br>
        <span>...or create a new one!</span>
    </div>
</div>

<% include ../components/footer %>