<% include ./components/header %>

<div id="app-dashboard">
    <% include ./components/linksSidebar %>
    <% include ./components/notesSidebar %>

    <% include ./components/categoryForm %>

    <div id="app-dashboard-container">
        <% include ./components/addNoteForm %>
    </div>
</div>

<% include ./components/footer %>