<% include ../components/header %>

<% include ../components/message %>

<div id="form-container-login" class="form-container">
    <h1>Login</h1>

    <form action="/login" method="post">
        <div class="form-field">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Insert your email">
        </div>

        <div class="form-field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Insert your password">
        </div>

        <button id="login-btn">Login</button>
    </form>

    <span>Don't have an account? You can register <a href="/register">here</a>.</span>
</div>

<% include ../components/footer %>