<% include ./components/header %>

<div class="form-container">
    <h1>Register</h1>

    <form action="/register" method="post">
        <div class="form-field">
            <label for="firstName">First name</label>
            <input type="text" name="firstName" id="first-name">
        </div>

        <div class="form-field">
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" id="last-name">
        </div>

        <div class="form-field">
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
        </div>

        <div class="form-field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <div class="form-field">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" name="confirmPassword" id="confirm-password">
        </div>

        <button id="register-btn">Register</button>
    </form>

    <span>Already registered? You can login <a href="/login">here</a>.</span>
</div>

<% include ./components/footer %>