<div class="category-prev">
    <span><%= category.name %></span>
    <div id="category-prev-icons">
        <a href="/dashboard/categories/<%= category._id %>">
            <button><i class="far fa-edit"></i></button>
        </a>
        <form action="/dashboard/categories/delete/<%= category._id %>?_method=delete" method="post">
            <button><i class="fas fa-trash-alt"></i></button>
        </form>
    </div>
    
</div>