<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Typeit App</title>
        <link rel="stylesheet" href="/media/fontawesome/css/all.min.css"> <!-- Fontawesome © 2019, https://fontawesome.com/ -->
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/media.css">
    </head>
    <body>
        <img src="../../media/smallleaf.svg" alt="small leaf" id="bg-small-leaf">
        <img src="../../media/bigleaf.svg" alt="big leaf" id="bg-big-leaf">

        <header id="app-header">
            <span>Typeit</span>

            <% if (pathname && pathname === '/dashboard') { %>
                <span>Dashboard</span>
            <% } else if(pathname === '/calendar') { %>
                <span>Calendar</span>
            <% } else { %>
                
            <% } %>

            <nav id="app-header-nav">
                <ul>
                    <% if (!loggedInUser) { %>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                    <% } else { %>
                        <li id="link-user-name"><a>Hi, <span><%= loggedInUser.firstName + ' ' + loggedInUser.lastName %></span></a></li>
                    <% } %>
                </ul>
            </nav>
        </header>
        <div id="app-main-container">
            