<div id="app-links-sidebar">
    <nav>
        <ul>
            <li>
                <a href="/dashboard/new-note" id="app-links-sidebar_add-note">
                    <i class="fa fa-plus fa-lg"></i>
                </a>
            </li>
            <li>
                <a href="/dashboard">
                    <i class="far fa-edit fa-lg"></i>
                </a>
            </li>
            <li>
                <a href="/calendar">
                    <i class="far fa-calendar-alt fa-lg"></i>
                </a>
            </li>
        </ul>

        <span>
            <a href='/logout'>
                <i class="fas fa-sign-out-alt fa-lg"></i>
            </a>
        </span>
    </nav>
</div>