<div id="app-links-sidebar">
    <nav>
        <ul>
            <li>
                <i class="far fa-edit fa-lg"></i>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <i class="fas fa-users fa-lg"></i>
                <a href="/dashboard/public">Public</a>
            </li>
            <li>
                <i class="far fa-calendar-alt fa-lg"></i>
                <a href="/calendar">Calendar</a>
            </li>
        </ul>

        <span>
            <i class="fas fa-sign-out-alt"></i>
            <a href='/logout'>Logout</a>
        </span>
    </nav>
</div>