<div id="app-notes-sidebar">
    <!-- TODO: Add a filter functionality -->
    <span class="sidebar-notes-header">Notes</span>

    <% notes.forEach(function(note) { %>
        <% include ./note %>
    <% }); %>
</div>