<% include ../../components/header %>

<div id="app-dashboard">
    <% include ../../components/linksSidebar %>
    <% include ../../components/notesSidebar %>

    <% include ../../components/forms/categoryForm %>

    <% include ../../components/dialogs/shareNote %>

    <div id="app-dashboard-container">
        <% include ../../components/forms/addNoteForm %>
    </div>
</div>

<% include ../../components/footer %>