<% include ../../components/header %>

<div class="message-wrapper">
    <% include ../../components/message %>
</div>

<div id="app-dashboard">
    <% include ../../components/linksSidebar %>
    <% include ../../components/notesSidebar %>

    <div id="app-dashboard-container">
        <% include ../../components/forms/editCategoryForm %>
    </div>
</div>

<% include ../../components/footer %>