<% include ../../components/header %>

<div id="app-dashboard">
    <% include ../../components/notesSidebar %>

    <% include ../../components/forms/categoryForm %>

    <div id="app-dashboard-container">
        <% include ../../components/forms/editNoteForm %>
    </div>
</div>

<% include ../../components/footer %>