<div id="app-notes-sidebar">
    <!-- TODO: Add a filter functionality -->

    <span class="sidebar-add-new-text" id="add-category" onClick="addNewCategory()">+ Add a new category</span> 

    <span class="sidebar-add-new-text less-padding" id="add-note" onClick="addNewNote()">+ Add a new note</span>

    <% notes.forEach(function(note) { %>
        <% include ./note %>
    <% }); %>
</div>