<div id="app-dashboard-container-create-note-container">
    <form action="/dashboard/notes" method="post" id="app-dashboard-container-create-note">
        <h1>Create a new note</h1>
    
        <div class="form-field create-note-form-field">
            <label for="title">Write a title</label>
            <input type="text" name="title" id="note-title" placeholder="New note title...">
        </div>
        <div class="form-field create-note-form-field">
            <label for="category">Select a category</label>
            <div id="app-dashboard-container-create-note_header_category">
                <% if(categories !== []) { %>
                    <select name="category" id="select-category">
                        <option selected hidden disabled>Choose a category</option>
                        <% categories.forEach(function(category) { %>
                            <option value="<%= category._id %>"><%= category.name %></option>
                        <% }); %>
                    </select>
                <% } %>
            </div>
        </div>
    
        <div id="app-dashboard-container-create-note_buttons">
            <a id="cancel-note-btn" class="app-dashboard-btns" href="/dashboard">Cancel</a>
            <button id="save-note-btn" class="app-dashboard-btns">Next</button>
        </div>
    </form>
</div>