<div id="app-dashboard-container-create-category-container">
    <form action="/dashboard/categories/<%= category._id %>/edit?_method=put" method="post" id="app-dashboard-container-create-category">
        <h1>Edit a category</h1>

        <% if(error && error.length > 0){ %>
            <div class="new-category-error">
                <%= error %>
            </div>
        <% } %>
    
        <div class="form-field create-category-form-field">
            <label for="name">Write a title</label>
            <input type="text" id="new-category-input" value="<%= category.name %>" name="name">
        </div>
    
        <div id="app-dashboard-container-create-category_buttons">
            <a id="cancel-category-btn" class="app-dashboard-btns" href="/dashboard">Cancel</a>
            <button id="save-category-btn" class="app-dashboard-btns">Edit</button>
        </div>
    </form>
</div>